body {
  background-color: #1e1e1e;
}
h1 {
  color: white;
  text-align: center;
}
p {
  color: white;
  text-align: center;
}
.icons1 {
  text-align: center;
}
a {
  color: white;
  padding: 5px;
} 

.titleContainer {
  width: 30vw;
  height: 50vh;
  display: block;         
  position: relative;
}

.textContainer2{
  word-wrap: break-word;
  inline-size: 50%; 
  position: relative;
  left: 25%;
}

.titleImage {
    position: absolute;
    left: 165%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 0.15rem solid #A6A6A6;
    border-radius: 50%;
    filter: contrast(90%) brightness(80%);
}
